
services:
  server:
    build:
      context: .
      target: development
    ports:
      - 8089:80
    develop:
      watch:
        - action: sync
          path: ./
          target: /var/www/html
